.chart-container {
  width: 400px;
  height: 400px;
  margin: 0 auto;
}

.chart-container2 {
  width: 400px;
  height: 400px;
  margin: 50px auto;
}

.chart-container3 {
  width: 400px;
  height: 400px;
  margin: 50px auto;
}

.chart-container4 {
  width: 400px;
  height: 400px;
  margin: 50px auto;
}